---
include:
  - remote: 'https://gitlab.esss.lu.se/ics-infrastructure/gitlab-ci-yml/raw/master/PreCommit.gitlab-ci.yml'
  - remote: 'https://gitlab.esss.lu.se/ics-infrastructure/gitlab-ci-yml/raw/master/SonarScanner.gitlab-ci.yml'
  - remote: 'https://gitlab.esss.lu.se/ics-infrastructure/gitlab-ci-yml/raw/master/Docker.gitlab-ci.yml'


test-python310:
  stage: test
  image: python:3.10
  before_script:
    - pip install -e .[tests]
  script:
    - pytest --junitxml=junit.xml --cov-report=xml:coverage.xml --cov-report=term --cov=app -v
  artifacts:
    paths:
      - junit.xml
      - coverage.xml
    reports:
      junit: junit.xml
    expire_in: 1 hour

test-docker-image:
  stage: test
  image: "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME"
  before_script:
    - pip install --no-cache-dir .[tests]
  script:
    - pytest -v

deploy-staging:
  stage: deploy
  image: registry.esss.lu.se/ics-docker/awxkit
  dependencies: []
  script:
    - >
      awx job_templates launch deploy-ess-notify-server
      --extra_vars "ess_notify_server_tag: $CI_COMMIT_REF_NAME"
      --limit notify-test.esss.lu.se
      --monitor
  environment:
    name: staging
    url: https://notify-test.esss.lu.se/docs
  only:
    - master
    - tags

deploy-production:
  stage: deploy
  image: registry.esss.lu.se/ics-docker/awxkit
  dependencies: []
  script:
    - >
      awx job_templates launch deploy-ess-notify-server
      --extra_vars "ess_notify_server_tag: $CI_COMMIT_TAG"
      --limit notify.esss.lu.se
      --monitor
  environment:
    name: production
    url: https://notify.esss.lu.se/docs
  only:
    - tags
  when: manual
