{%- extends "bootstrap.html" %}

{% block styles %}
{{super()}}
<link href="{{ url_for('static', path='/css/notify.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Notify{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Notify</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Notifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
      </ul>
      <div class="navbar-nav navbar-right">
        {% if current_user is defined %}
        <span class="navbar-text">{{ current_user.username }}</span>
        {% endif %}
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container" id="mainContent">
  {% block main %}{% endblock %}
</div>
{% endblock %}