{% from "_helpers.html" import format_notification %}

<table class="table table-striped table-sm" id="notifications-table">
  <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Timestamp</th>
      <th scope="col">Message</th>
    </tr>
  </thead>
  <tbody>
    {% for notification in notifications %}
    <tr>
      <td>{{ categories[notification.service_id] }}</td>
      <td>{{ notification.timestamp | format_datetime }}</td>
      <td>{{ format_notification(notification) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
